body{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

canvas{
    height:90%;
}

#title{
    user-select: none;
}

h1{
    font-size: 2em;
    font-weight: 600;
    font-family: monospace;
    color: blanchedalmond;
}

.sound-btn{
    position: absolute;
    left: 25%;
    top: 25%;
    font-weight: bold;
    background-color: aliceblue;
    padding: 0.5rem 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}